/* Navigation */
.navbar-design {
  color: #fff;
  background-color: #212121;
}

.navbar-brand,
.nav-link {
  color: #fff;
}
.current{
	border-bottom: 1px solid white;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #fff;
}

.nav-item {
    margin: 10px;
  }

.navbar-brand {
  font-size: 2em;
}

.nav-item {
  position: relative;
}

.nav-item:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid white;
  bottom: 0;
  left: 100%;
  right: 100%;
  transition: all 500ms;
}

.nav-item:hover:after {
  left: 0;
  right: 0;
}

.dropdown-menu {
  background-color: #4b7fbb;
}

.dropdown-item {
  border-bottom: 1px solid #fff;
  color: #fff;
}

/* FeedBack */

.custom-container{
background-color:#ff6969;
}
.custom-fluid{
	margin-top:5%;
}

body{
	background-color:#ff6969;
}
#title{
text-align: center;
}
table,th,td{
text-align:center;
}
.textarea{
font-family: Arial, Helvetica, sans-serif;
border-radius:5px;
height:120px;
width:55%;
border:hidden;
padding:5px;
}

.customer-feedback{
	text-align:center;
	font-style: italic;
}
#customer-name{
	font-family: arial;
}

/*contact*/
#error{
	color:red;
}
.customcol{

	padding-top:15%;
}

/* Footer Section */
.footer {
  background-color: #181818;
  margin-top: 25px;
}

.footer-content {
  padding: 50px;
}

.footer-link-title {
  font-size: 1.2em;
  color: #e0ddd7;
}

.line {
  background-color: #e0ddd7;
  width: 70%;
}

.line1 {
  background-color: #e0ddd7;
  width: 50%;
}

.footer-services,
.footer-copyright,
.footer-copyright a,
.style-link {
  color: #93989c;
}

.footer-services {
  font-size: 0.9em;
  padding: 5px;
}

.icon {
  font-size: 1.2em;
}

.hover-style {
  color: #4d4d4d;
}

.footer-copyright {
  margin-top: -20px;
  font-size: 0.8em;
}

.style-link {
  color: #dec995;
}

.hover-style:hover {
  color: #93989c;
}

.footer-copyright a:hover {
  text-decoration: none;
}

.footer-services:hover {
  color: #fff;
  text-decoration: none;
}

#abth2{
  text-align: center;
}
.customcard{
  background-color:#e2e1f5;
  box-shadow: 2px 2px 2px 2px white;
  border-radius:10px;
  transition: all 0.3s ease-in;
  -webkit-transition:all 0.3s ease-in;
  -moz-transition:all 0.3s ease-in;
}
.customcard:hover{
  background-color:black;
  transform: scale(1.1);
  color:white;
  border-radius:15px;
  border:none;
  box-shadow: 2px 2px 2px red;

}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}
}
