/* Navigation */
.navbar-design {
  color: #fff;
  background-color: #212121;
}

.navbar-brand,
.nav-link {
  color: #fff;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #fff;
}

.nav-item {
    margin: 10px;
  }

.navbar-brand {
  font-size: 2em;
}

.nav-item {
  position: relative;
}

.nav-item:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid white;
  bottom: 0;
  left: 100%;
  right: 100%;
  transition: all 500ms;
}

.nav-item:hover:after {
  left: 0;
  right: 0;
}

.dropdown-menu {
  background-color: #4b7fbb;
}

.dropdown-item {
  border-bottom: 1px solid #fff;
  color: #fff;
}

/* FeedBack */

.custom-container{
background-color:#f0ebeb;
}
.custom-fluid{
	margin-top:5%;
}
body{
	background-color: #f0ebeb;
}
#title{
text-align: center;
}
table,th,td{
text-align:center;
}
.textarea{
font-family: Arial, Helvetica, sans-serif;
border-radius:5px;
height:120px;
width:55%;
border:hidden;
padding:5px;
}

.customer-feedback{
	text-align:center;
	font-style: italic;
}
#customer-name{
	font-family: arial;
}
