.custom-container{
background-color:#f0ebeb;
}
#title{
text-align: center;
}
table,th,td{
text-align:center;
}
.textarea{
font-family: Arial, Helvetica, sans-serif;
border-radius:5px;
height:120px;
width:55%;
border:hidden;
padding:5px;
}

.customer-feedback{
	text-align:center;
	font-style: italic;
}
#customer-name{
	font-family: arial;
}
