@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

body {
    background: #111d5e;
    font-family: "Lato", sans-serif;
    color: #fff;
}

/* Navigation */
.navbar-design {
  color: #fff;
  background-color: #212121;
}

.navbar-brand,
.nav-link {
  color: #fff;
}
.current{
	border-bottom: 1px solid white;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #fff;
}

.nav-item {
    margin: 10px;
  }

.navbar-brand {
  font-size: 2em;
}

.nav-item {
  position: relative;
}

.nav-item:after {
  content: "";
  position: absolute;
  border-bottom: 1px solid white;
  bottom: 0;
  left: 100%;
  right: 100%;
  transition: all 500ms;
}

.nav-item:hover:after {
  left: 0;
  right: 0;
}

.dropdown-menu {
  background-color: #4b7fbb;
}

.dropdown-item {
  border-bottom: 1px solid #fff;
  color: #fff;
}

/* FeedBack */

.custom-container{
background-color:#ff6969;
}
.custom-fluid{
	margin-top:5%;
}

body{
	background-color:#ff6969;
}
#title{
text-align: center;
}
table,th,td{
text-align:center;
}
.textarea{
font-family: Arial, Helvetica, sans-serif;
border-radius:5px;
height:120px;
width:55%;
border:hidden;
padding:5px;
}

.customer-feedback{
	text-align:center;
	font-style: italic;
}
#customer-name{
	font-family: arial;
}

/*contact*/
#error{
	color:red;
}
.customcol{

	padding-top:15%;
}

/* Footer Section */
.footer {
  background-color: #181818;
  margin-top: 25px;
}

.footer-content {
  padding: 50px;
}

.footer-link-title {
  font-size: 1.2em;
  color: #e0ddd7;
}

.line {
  background-color: #e0ddd7;
  width: 70%;
}

.line1 {
  background-color: #e0ddd7;
  width: 50%;
}

.footer-services,
.footer-copyright,
.footer-copyright a,
.style-link {
  color: #93989c;
}

.footer-services {
  font-size: 0.9em;
  padding: 5px;
}

.icon {
  font-size: 1.2em;
}

.hover-style {
  color: #4d4d4d;
}

.footer-copyright {
  margin-top: -20px;
  font-size: 0.8em;
}

.style-link {
  color: #dec995;
}

.hover-style:hover {
  color: #93989c;
}

.footer-copyright a:hover {
  text-decoration: none;
}

.footer-services:hover {
  color: #fff;
  text-decoration: none;
}

#abth2{
  text-align: center;
}
.customcard{
  background-color:#e2e1f5;
  box-shadow: 2px 2px 2px 2px white;
  border-radius:10px;
  transition: all 0.3s ease-in;
  -webkit-transition:all 0.3s ease-in;
  -moz-transition:all 0.3s ease-in;
}
.customcard:hover{
  background-color:black;
  transform: scale(1.1);
  color:white;
  border-radius:15px;
  border:none;
  box-shadow: 2px 2px 2px red;

}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}
}

.section-title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #fff;
}

.section-title-bottom {
    width: 15%;
    background: #fff;
}

/* Service */
#service {
    padding: 50px;
}

#service h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#service span {
    /* font-size: 15px; */
    color: #6a8caf;
    /* vertical-align: top; */
}

#service hr {
    width: 15%;
    background: #fff;
    margin-left: 38%;
}

.service {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.service-section {
    box-sizing: border-box;
    background-color: #394989;
    border-radius: 5px;
    box-shadow: 5px 1px 5px #394989;
    margin: 10px;
    padding: 20px;
    flex-basis: 45%;
}

/* Modal */
.modal-title,
.modal-body {
    color: #000;
}

.modal-title {
    margin-left: 30%;
}

.custom-btn {
    background: #111d5e;
    color: #fff;
}

.custom-btn:hover {
    color: #fff;
    background: #394989;
}

/* Project */

#project {
    padding: 50px;
}

.nav {
    border: none;
    outline: none;
}

.nav-item .nav-link {
    color: #fff;
}

.project .nav-tabs .nav-item {
    margin-left: 20px;
}

.project .nav-tabs .nav-item .nav-link.active {
    color: #fff;
    border-radius: 4px;
    background: none;
}

.project .nav .nav-link.active {
    position: relative;
    width: 100%;
    background-color: #394989;
    /* transition: all 0.2s ease-in; */

}

.project .nav .nav-item .nav-link.active:before {
    content: '';
    display: block;
    position: absolute;
    background-color: #394989;
    width: 100%;
    height: 30px;
    border-radius: 20px;
    left: -2px;
    z-index: -1;
    bottom: 0;
    top: 15%;
    transition: all 0.2s linear;
}

.project .nav-tabs .nav-item .nav-link.active,
.project .nav-tabs .nav-item .nav-link.active:hover {
    border: none;
    outline: none;
}

.project .nav-tabs .nav-item .nav-link:hover {
    border: 1px solid transparent;
    color: deepskyblue;
}

.project .nav-tabs .nav-item .dropdown-menu .dropdown-item:hover,
.project .nav-tabs .nav-item .dropdown-menu .dropdown-item.active {
    background: #394989;
    color: #fff;
}

.tab-content {
    color: #fff;
    margin-top: 20px;
}

.tab-content h3 {
    text-align: center;
}

.tab-content p {
    margin-top: 20px;
}

.custom-thumbnail {
    width: 100%;
    height: 250px;
}

.caption {
    cursor: pointer;
    position: absolute;
    top: 0;
    height: 250px;
    width: 91.3%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}

.caption p {
    margin-top: 100px;
    font-size: 1.5em;
}

.modal-content {
    color: #000;
}

.modal-content button {
    margin-top: 20px;
    margin-left: 15px;
}


.caption:hover {
    color: #fff;
    opacity: 1;
}
.test{
  width:100%;
  height: 400px;
  border:2px solid white;
}
